<div class="header">
<p class="dashboard-heading">Admin Dashboard</p>
</div>
<!-- Role Count Cards -->
<div class="role-cards">
  <div class="role-card admin">
    <h4>Admins</h4>
    <p>{{ totalAdmins }}</p>
  </div>
  <div class="role-card it">
    <h4>IT Team</h4>
    <p>{{ totalIT }}</p>
  </div>
  <div class="role-card user">
    <h4>Users</h4>
    <p>{{ totalEndUsers }}</p>
  </div>
</div>

<div class="dashboard-container">
  <!-- Ticket Insights Section -->
  <div class="insight-section">
    <div class="card stat-card">
      <strong>Total Tickets:</strong> {{ totalTickets }}
    </div>

    <div class="controls">
      <label for="filterType">Filter By:</label>
      <select id="filterType" (change)="onGroupByChange($event)">
        <option value="status">Status</option>
        <option value="priroty">Priority</option>
        <option value="categeory">Category</option>
      </select>

      <label for="chartType">Chart Type:</label>
      <select id="chartType" (change)="onTicketChartTypeChange($event)">
        <option value="bar">Bar</option>
        <option value="line">Line</option>
        <option value="pie">Pie</option>
      </select>
    </div>

    <div echarts [options]="ticketsByFilter" class="chart-box"></div>
  </div>

  <!-- User Insights Section -->
  <div class="insight-section">
    <div class="card stat-card">
      <strong>Total Users:</strong> {{ totalUsers }}
    </div>

    <div class="controls">
      <label for="userGroupBy">Group By:</label>
      <select id="userGroupBy" (change)="onUserGroupByChange($event)">
        <option *ngFor="let option of userGroupOptions" [value]="option">{{ option }}</option>
      </select>

      <label for="userChartType">Chart Type:</label>
      <select id="userChartType" (change)="onUserChartTypeChange($event)">
        <option value="bar">Bar</option>
        <option value="line">Line</option>
        <option value="pie">Pie</option>
      </select>
    </div>

    <div echarts [options]="usersByFilter" class="chart-box"></div>
  </div>

  <!-- Highcharts Section -->
  <div class="insight-section">
    <label for="startDate">Select start date: </label>
    <input type="date" id="startDate" (change)="onDateChange($event)" [(ngModel)]="selectedDate">
 
    <highcharts-chart [Highcharts]="Highcharts" [options]="dateFilter" style="width:100%; height:400px;" >
 
    </highcharts-chart>
  </div>   
  
  


  <!--Charts.js-->

<div class="insight-section">
  <canvas baseChart
          [data]="stepLineChartData"
          [options]="stepLineChartOptions"
          [type]="'line'">
  </canvas>
</div>





<!-- 
   <div class="insight-section">
    <h3>Users counts by Role</h3>
    <canvas baseChart [data]="userChartData" [options]="chartOptions" [type]="usersChartType">
    </canvas>
  </div> -->
  
</div>

<div style="display: flex; justify-content: center;">
  <button [routerLink]="['/admin']" class="back-btn">Back</button>
</div>


