<div class="form-header">
  <h2>{{isEditMode? 'Edit User' : 'Add New User'}}</h2>
<a [routerLink]="['/admin']" class="cancel-btn"> X </a>
</div>
<form [formGroup]="userForm" (ngSubmit)="submitUser()">
  <label>UserId: <input formControlName="empid" /></label><br>
  <label>Name: <input formControlName="name" /></label><br>
  <label>Email: <input formControlName="email" /></label><br>
<label>Password: <input type="password" formControlName="password" /></label><br>
<label>Phone: <input type="tel" formControlName="phoneno" /></label><br>
  <label>BU: 
    <select formControlName="bu">
      <option value="Dex">DEX</option>
      <option value="Data">DATA</option>
      <option value="ILD">ILD</option>
      <option value="SIMS">SIMS</option>
      <option value="It">IT</option>
      <option value="HR">HR</option>
      <option value="IAT">IAT</option>
    </select>
  </label><br>
  <label>Role: 
    <select formControlName="role">
        <option value="admin">admin</option>
        <option value="it">IT team</option>
        <option value="user">user</option>
    </select>
  </label><br>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>

