<div class="landing-hero">
  <div class="hero-text">
    <h1>Welcome to Helpdesk Ticketing System</h1>
    <p>Take a look at the FAQ's for your reference.</p>
    <div class="faq-container">
      <a routerLink="/faq">FAQ's</a>
    </div>
  </div>
</div>


<div class="landing-content">
  <div class="cards">
    <div class="card">
      <!-- <img src="./tickets-svgrepo-com.svg" alt="Knowledge Base"/> -->
      <h3 routerLink="/faq">🧠 Knowledge Base</h3>
      <p>Browse through our FAQs and get clarified with the doubts  .</p>
    </div>
    <div class="card">
      <!-- <img src="/Helpdesk-Frontend/src/assests/tickets-svgrepo-com.svg" alt="Tickets" width="16" height="14"/> -->
      <h3 routerLink="/login">🎟️ Tickets</h3>
      <p>View your previous tickets; know their statuses and solutions.</p>
    </div>
  </div>
</div>
