<div class="app-container">
  <header>
    <div class="logo-container">
      <a [routerLink]="['/']">
  <img src="assets/logo.png" alt="Logo" class="logo" />
</a>
      <h1>{{ title }}</h1>
    </div>
      <button *ngIf="isLoggedIn" (click)="logout()" class="logout-container">Logout</button>
      <button *ngIf="!isLoggedIn && showLoginBtn" (click)="login()"  routerLink="/" class="logout-container">Login</button>

  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <p><strong>Helpdesk Ticketing System</strong> — Simplifying IT support.</p>
    <p>Reach us at: <a href="mailto:itteamilink@gmail.com">itteamilink&#64;gmail.com</a></p>
  </footer>
</div> 