<div class="app-container">
  <header>
    <div class="logo-container">
      <img src="https://www.pngegg.com/en/png-ngmtq" alt="Logo" class="logo" />
      <h1>{{ title }}</h1>
    </div>
      <button  (click)="logout()" routerLink="/" class="logout-container">Logout</button>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <p><strong>Helpdesk Ticketing System</strong> — Simplifying IT support.</p>
    <p>Reach us at: <a href="mailto:itteamilink@gmail.com">itteamilink&#64;gmail.com</a></p>
  </footer>
</div> 