.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #7d4c9c;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  color: #ecf0f1;
  margin: 0;
  font-size: 2rem;
  padding-left:550px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.logout-container{
  padding: 8px 16px;
  background-color: #ecf0f1;
  color: #7d4c9c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}
 
.logout-container :hover{
  background-color: #dcdde1;
}

