<h3>Tickets</h3>
<div >
  <table border="2px solid">
      <thead>
        <tr>
          <th>Tid</th>
          <th>Subject</th>
          <th>Category</th>
          <th>Description</th>
          <th>Status</th>
          <th>Priority</th>
          <th>RaisedById</th>
          <th>AssignedToId</th>
          <th>CreatedDate</th>
          <th>DueDate</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of filteredTickets">
          <td>{{ticket.tid}}</td>
          <td>{{ticket.subject}}</td>
          <td>{{ticket.category}}</td>
          <td>{{ticket.description}}</td>
          <td>{{ticket.status}}</td>
          <td>{{ticket.priority}}</td>
          <td>{{ticket.raisedById}}</td>
          <td>{{ticket.assignedToId}}</td>
          <td>{{ticket.createdDate | date}}</td>
          <td>{{ticket.dueDate | date}}</td>
          <td>
            <button *ngIf="ticket.status === 'open' || ticket.status === 'onHold'" 
            (click)="cancelTicket(ticket.tid!)">
             Cancel
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<a><button [routerLink]="['/user']" class="back-btn">Back</button></a>
