<div class="forgot-password-container">
  <h2>Forgot Password</h2>

  <!-- Enter email -->
  <div *ngIf="!otpSent">
    <label>Email:
      <input type="email" [(ngModel)]="email" name="email">
    </label>
    <br>
    <button (click)="sendOtp()">Send OTP</button>
  </div>

  <!-- Enter OTP -->
  <div *ngIf="otpSent && !otpVerified">
    <label>Enter OTP:
      <input type="text" [(ngModel)]="otp" name="otp">
    </label>
    <br>
    <button (click)="verifyOtp()">Verify OTP</button>
  </div>

  <!--  Enter New Password -->
  <div *ngIf="otpVerified">
    <label>New Password:
      <input type="password" [(ngModel)]="newPassword" name="newPassword">
    </label>
    <br>
    <button (click)="resetPassword()" [routerLink]="['/']">Reset Password</button>
  </div>
</div>
