<div class="forgot-password-container">
  <h2>Forgot Password</h2>

  <!-- Email Form -->
  <form [formGroup]="emailForm" *ngIf="!otpSent" (ngSubmit)="sendOtp()">
    <label>Email:
      <input type="email" formControlName="email">
    </label>
    <div *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.errors as errors" class="error">
          <div *ngIf="errors['required']">Email is required.</div>
          <div *ngIf="errors['pattern']">Invalid email</div>
    </div>
    <button type="submit">Send OTP</button>
  </form>

  <!-- OTP Form -->
  <form [formGroup]="otpForm" *ngIf="otpSent && !otpVerified" (ngSubmit)="verifyOtp()">
    <label>Enter OTP:
      <input type="text" formControlName="otp">
    </label>
    <div *ngIf="otpForm.get('otp')?.touched && otpForm.get('otp')?.errors as errors" class="error">
          <div *ngIf="errors['required']">Otp is required.</div>
          <div *ngIf="errors['pattern']">Enter proper 6 digits otp</div>
    </div>
    <button type="submit">Verify OTP</button>
  </form>

  <!-- Password Form -->
  <form [formGroup]="resetForm" *ngIf="otpVerified" (ngSubmit)="resetPassword()">
    <label>New Password:
      <input type="password" formControlName="newPassword">
    </label>
    <div *ngIf="resetForm.get('otp')?.touched && resetForm.get('otp')?.errors as errors" class="error">
          <div *ngIf="errors['required']">Password is required.</div>
          <div *ngIf="errors['minlength']">Atleast a length of 5 is required</div>
    </div>
    <button type="submit">Reset Password</button>
  </form>
</div>

