<div class="home-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Login Here</h2>
    <label>Email: <input formControlName="email" ></label>
    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors as errors" class="error">
          <div *ngIf="errors['required']">Email is required.</div>
          <div *ngIf="errors['pattern']">Invalid email</div>
    </div>
    <label>Password: <input formControlName="password"></label>
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors as errors" class="error">
          <div *ngIf="errors['required']">Password is required.</div>
          <div *ngIf="errors['minlength']">A minimum of length 5 is required</div>
    </div>
    <!-- <div>Role:
        <select formControlName="role">
          <option value="">Select role</option>
          <option value="IT">It</option>
          <option value="User">User</option>
          <option value="admin">Admin</option>
        </select>
    </div> -->
        <br>
        <a routerLink="/forgot-password">Forget Password?</a>
    <button type="submit">Login</button>
      </form>
</div>
  
