<div class="raise-ticket-container">
  <h2>Raise a Ticket</h2>
  <form [formGroup]="ticketForm" (ngSubmit)="submitTicket()" class="ticket-form">
    <div class="form-group">
      <label>Subject:</label>
      <input formControlName="subject" type="text" />
      <div *ngIf="ticketForm.get('subject')?.touched && ticketForm.get('subject')?.errors as errors" class="error">
        <div *ngIf="errors['required']">Subject is required.</div>
        <div *ngIf="errors['pattern']">Only letters are allowed.</div>
      </div>

    </div>

    <div class="form-group">
      <label>Categeory:</label>
      <select formControlName="categeory">
        <option value="Software">Software</option>
        <option value="Hardware">Hardware</option>
        <option value="Network">Network</option>
        <option value="Email">Software</option>
        <option value="Asset Request">Asset Request</option>
      </select>
      <div *ngIf="ticketForm.get('categeory')?.touched && ticketForm.get('categeory')?.invalid" class="error">
        Category is required.
      </div>
    </div> 

    <div class="form-group">
      <label>Description:</label>
      <textarea formControlName="description"></textarea>
      <div *ngIf="ticketForm.get('description')?.touched && ticketForm.get('description')?.errors as errors" class="error">
        <div *ngIf="errors['required']">Subject is required.</div>
        <div *ngIf="errors['minlength']">A minimal description is needed</div>
      </div>
    </div>

    <div class="form-group">
      <label>Priority:</label>
      <select formControlName="priroty">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <div *ngIf="ticketForm.get('priroty')?.touched && ticketForm.get('priroty')?.invalid" class="error">
        Priority is required
      </div>
    </div>

    <button type="submit" [disabled]="!ticketForm.valid" class="submit-btn">Submit</button>
    <a><button class="back-btn" [routerLink]="['/user']">Back</button></a>
  </form>
</div>
